<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	
	<link rel="icon" href="static/images/placefavicon.ico">
	
	<style> 

	body {
		background-color: rgb(0,102,102);
	}

	img {
		padding: 20px;
	}

	.btn-lg {
		background-color:white;
		color:black;
		border:none;
		margin-bottom:20px; 

	}
	.btn-lg:hover {
		background-color:#dfdfd2;
	}

	.col-md-4 {
		text-align: center;
		color:white;
	}
	.col-md-12 {
		text-align: center;
		color:white;
	}
	.hiddeninfo {
		visibility: hidden;
		opacity:0;
	}

	</style>


	<title> Place in history </title>

</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>