{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br><br><br><br><br>
		</div>
		<div class="col-md-12">
			<h1> Welcome to place in history </h1>
			<br>
			<h4> <p> Learning specific years in history is tedious. What's more rewarding is knowing how events relate to each other </p> </h4>
			<h4> <p> Can you place the events and persons in history? </p> </h4>
			<h4> <p> <a href="{{url_for('play')}}"> Click here </a>
		</div>
	</div>
</div>
{% endblock %}